/* Header */
span.red-ui-header-logo {
  margin-top: 0 !important;
}
span.red-ui-header-logo img {
  height: 40px  !important;
  margin-right: 10px  !important;
}

#red-ui-header-button-deploy:hover,
#red-ui-header-button-deploy {
  background: #ff6600  !important;
  background-repeat: no-repeat  !important;
  padding: 4px 15px !important;
  border-radius: 10px  !important;
}

#red-ui-header-button-deploy:hover,
#red-ui-header-button-deploy.disabled {
  background-color: #792402  !important;
}

#red-ui-header-button-deploy img {
  display: none  !important;
}

/* Disable open project */
#red-ui-header-button-sidemenu-submenu li:nth-child(2) {
  display: none;
}


/* Hiden "open projet" button from "create project" window */
#red-ui-projects-dialog .red-ui-projects-dialog-screen-create-type[data-type="open"] {
  display: none;
}
#red-ui-projects-dialog .red-ui-projects-dialog-screen-create-type[data-type="empty"] {
  border-left: 1px solid #ccc !important;
}


/* Palette */
.red-ui-palette-node {
  border-radius: 15px;
  border: 2px solid #eee;
}

.red-ui-palette-icon-container {
  border-right: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.red-ui-palette-node:hover {
  box-shadow:0 0 0 2px #008ce8;
}


.red-ui-palette-icon-container_right {
  border-left: 2px solid #eee;
}

.red-ui-palette-port,
.red-ui-palette-node:hover > .red-ui-palette-port {
  background: #ccc;
  border: 1px solid #eee;
}


/* Flow */
.red-ui-flow-node {
  stroke: #ddd;
  stroke-width: 2;
  rx: 15px;
  ry: 15px;
}

rect.red-ui-flow-node-icon-shade {
  rx: 15px;
  ry: 15px;
  stroke: #eee;
  fill-opacity: 0.1;
}

path.red-ui-flow-node-icon-shade-border {
  stroke: none;
}

rect.red-ui-flow-port {
  stroke: #eee;
  stroke-width: 1;
  fill: #bbb;
}

path.red-ui-flow-link-line {
  stroke: #bbb;
}

#red-ui-workspace > .red-ui-tabs ul li {
  border-radius: 10px 10px 0 0;
}

.nr-ui-view-lasso,
.red-ui-flow-node,
.red-ui-flow-subflow-port,
.red-ui-flow-port-hovered,
.red-ui-flow-drag-line,
.red-ui-flow-link-group-active .red-ui-flow-link-port,
{
  stroke: #66c2ff !important;
}

g.red-ui-flow-node-selected .red-ui-flow-node,
g.red-ui-flow-node-selected .red-ui-flow-subflow-port,
.red-ui-flow-node-highlighted,
g.red-ui-flow-link-selected path.red-ui-flow-link-line {
  stroke: #008ce8 !important;
}

.ui-dialog-buttonset button.primary,
#red-ui-sidebar .button.primary,
.sidebar-footer-button.primary,
.sidebar-footer-button-toggle.primary,
button.red-ui-sidebar-header-button.primary,
a.sidebar-header-button.toggle.primary,
button.sidebar-header-button.toggle.primary,
a.red-ui-sidebar-header-button.toggle.primary,
button.red-ui-sidebar-header-button.toggle.primary,
a.red-ui-footer-button.primary,
button.red-ui-footer-button.primary,
a.red-ui-footer-button-toggle.primary,
button.red-ui-footer-button-toggle.primary,
#red-ui-workspace-toolbar .button.primary,
.red-ui-tray-toolbar button.primary,
.red-ui-tray-toolbar button.toggle.primary,
a.red-ui-tray-resize-button.primary,
button.red-ui-tray-resize-button.primary,
a.editor-button.primary,
button.editor-button.primary,
a.red-ui-button.primary,
button.red-ui-button.primary,
a.editor-button.toggle.primary,
button.editor-button.toggle.primary,
a.red-ui-button.toggle.primary,
button.red-ui-button.toggle.primary,
.red-ui-tab-button a.primary,
.red-ui-tab-link-buttons a.primary{
  border-color: #008ce8;
  background: #008ce8;
}


.ui-dialog-buttonset button.primary:not(.disabled):not(.ui-button-disabled):hover,
.ui-dialog-buttonset button.primary:not(.disabled):hover,
#red-ui-sidebar .button.primary:not(.disabled):not(.ui-button-disabled):hover,
.sidebar-footer-button.primary:not(.disabled):not(.ui-button-disabled):hover,
.sidebar-footer-button-toggle.primary:not(.disabled):not(.ui-button-disabled):hover,
a.sidebar-header-button.primary:not(.disabled):not(.ui-button-disabled):hover,button.sidebar-header-button.primary:not(.disabled):not(.ui-button-disabled):hover,a.red-ui-sidebar-header-button.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-sidebar-header-button.primary:not(.disabled):not(.ui-button-disabled):hover,
a.sidebar-header-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,button.sidebar-header-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,a.red-ui-sidebar-header-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-sidebar-header-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,
a.red-ui-footer-button.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-footer-button.primary:not(.disabled):not(.ui-button-disabled):hover,
a.red-ui-footer-button-toggle.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-footer-button-toggle.primary:not(.disabled):not(.ui-button-disabled):hover,
#red-ui-workspace-toolbar .button.primary:not(.disabled):not(.ui-button-disabled):hover,
.red-ui-tray-toolbar button.primary:not(.disabled):not(.ui-button-disabled):hover,
.red-ui-tray-toolbar button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,
a.red-ui-tray-resize-button.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-tray-resize-button.primary:not(.disabled):not(.ui-button-disabled):hover,
a.editor-button.primary:not(.disabled):not(.ui-button-disabled):hover,button.editor-button.primary:not(.disabled):not(.ui-button-disabled):hover,a.red-ui-button.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-button.primary:not(.disabled):not(.ui-button-disabled):hover,
a.editor-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,button.editor-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,a.red-ui-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,button.red-ui-button.toggle.primary:not(.disabled):not(.ui-button-disabled):hover,
.red-ui-tab-button a.primary:not(.disabled):not(.ui-button-disabled):hover,
.red-ui-tab-link-buttons a.primary:not(.disabled):not(.ui-button-disabled):hover {
  border-color: #0b5aa3;
  background: #0b5aa3;
}


